@import "tailwindcss";

@theme {
    --font-work-sans: "Work Sans", sans-serif;
}

body{
    max-width:1440px;
    margin: 0 auto;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
    font-family: 'Work-sans', serif;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

